* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

body {
  background-color: #23252C;
}


.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 30px;
}


.card {
  width: 320px;
  background-color: #1A1B21;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
}


.profile-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}


.info-section {
  padding: 30px;
  text-align: center;
  
}

.name {
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.job-title {
  color: #F3BF99;
  font-size: 14px;
  margin-top: 4px;
}

.web-site {
  color: #F5F5F5;
  font-size: 12px;
  margin: 8px 0 16px;
}


.social-buttons {
  display: flex;
  gap: 10px;
}

.btn {
  flex: 1;
  padding: 8px 0;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.email {
  background: #ffffff;
  color: #1A1B21;
}

.linkedin {
  background: #5093E2;
  color: white;
}

.container-section{
padding-left: 30px;
padding-right: 30px;
padding-bottom: 20px;

}

.title-section{
  color: #F5F5F5;

}

.description{
  color: #DCDCDC;
  font-weight: 100;
}

.footer {
  background-color: #161619;
  padding: 20px 0;
  margin-top: auto;
}

.footer ul {
  display: flex;
  justify-content: center;
  gap: 14px;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.icon{
  color:#918E9B;
  font-size: 40px;
}